<!-- Footer -->
<footer class="footer">
  <div class="container">
    <table width="100%">
      <tr>
        <td align="left" width="75%"><p class="text-muted">&copy; 2017 Edward Ly. All Rights Reserved.</p></td>
        <td align="right" width="25%">
          <table class="links footer-links">
            <tr>
              <td><a href="https://www.facebook.com/edward.ly1279" aria-label="Facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true" title="Facebook"></i></a></td>
              <td><a href="https://twitter.com/_edward_ly" aria-label="Twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true" title="Twitter"></i></a></td>
              <td><a href="https://github.com/edward-ly" aria-label="GitHub"><i class="fa fa-github fa-lg" aria-hidden="true" title="GitHub"></i></a></td>
              <td><a href="https://www.linkedin.com/in/esly14" aria-label="LinkedIn"><i class="fa fa-linkedin fa-lg" aria-hidden="true" title="LinkedIn"></i></a></td>
              <td><a href="mailto:edward.ly@pm.me" aria-label="Email"><i class="fa fa-envelope-o fa-lg" aria-hidden="true" title="Email"></i></a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</footer>
